<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- milkcocoa読み込み -->
    <script src="https://cdn.mlkcca.com/v0.6.0/milkcocoa.js"></script>
    </head>
  <body>

	<div>
    <!-- チャット内容が動的に生成される部分 -->
    <ul id="jsi-board" style="list-style:none;padding-right: 40px;margin-right: 100px;margin-left: 100px;" >
      <li>〜チャット内容〜</li>
    </ul>

		<!-- 投稿者 -->
		<div>
			<p>ユーザ名</p>
			<textarea name="" id="jsi-name" class="form-control" cols="10" rows="1">ユーザー1</textarea>
		</div>

		<!-- メッセージを打ち込む部分 -->
		<div>
			<p>内容</p>
			<textarea name="" id="jsi-msg" class="form-control" cols="30" rows="4"></textarea>
		</div>
	</div>

	<!-- メッセージを送る部分 -->
  <button name="button" id="jsi-button" class="btn btn-default">send message!</button>
  
  <button onclick="voice_operation();">音声認識</button>
  </body>
</html>
